* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#navigation {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.button {
    height: 30px;
    width: 100px;
}

table, th, td {
    margin-left: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    height: 25px;
    padding: 8px;
}

.top {
    height: 40px;
    text-align: center;
    color: midnightblue;
}

.top-year {
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: midnightblue;
}

input[type="radio"] {
    margin-right: 2px;
}



