{% extends "sveuciliste/base.html" %}

{% block content %}
    <div class="users-container">
        <div class="users-center-container">
            <h1>Register Page</h1>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form.as_p }}
                </fieldset>
                <div class="form-group">
                    <button class="btn" type="submit">Sign Up</button>
                </div>
            </form>
            <p>Already have an account? <a href="/login">Log in now</a></p>
        </div>
    </div>
{% endblock content %}