{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% if title %}
		<title>Sveuciliste - {{ title }}</title>
	{% else %}
		<title>Sveuciliste</title>
	{% endif %}
	<meta name="Marko Cubic" content="">
	<link rel="stylesheet" type="text/css" href="{% static 'sveuciliste/styles.css' %}">
</head>
<body>
	
	<div class="top-header">
		<div class="center-container">
			<div class="top-left-header">
				<h2>Sveuciliste</h2>
				<a href="/">HOME</a>
			</div>
			<div class="top-right-header">
				<a href="#">LOGIN</a>
				{% block register %}
				{% endblock %}
			</div>
		</div>
	</div>
	
	<div class="center-container">
		{% if messages %}
		{% for message in messages %}
			<div class="alert">
				{{ message }}
			</div>
		{% endfor %}
		{% endif %}
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>