{% extends "sveuciliste/base.html" %}

{% block content %}
    <div class="users-container">
        <div class="users-center-container">
            <h3>{{ user.email }}</h3>
            <div class="user-left">
                <h4>Upisi</h4>
                <div class="user-predmeti-list">
                    {{ upisi|safe }}
                </div>
            </div>
            <div class="user-right">
                <h4>Predmeti</h4>
                <div class="user-predmeti-list">
                    <table>
                        {% for predmet in predmeti %}
                            <tr>
                                <td class="add-btn">&#10010</td>
                                <td><p>{{ predmet.ime }}</p></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>  
        </div>
    </div>
{% endblock content %}